table{
    width: 600px;
    height: 40px;
    border: 1px solid gray;
    border-collapse: collapse;
    /*外边距 上下 左右  让表格居中*/
    margin: 0 auto;
    font-size: 14px;

}
td,th{
    width: 120px;
    border: 1px solid gray;

}

.one{
    background-color: rgb(245, 243, 243);
}
.two{
    font-size: 20px;
}